<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>Common information about company.</title>
	
		<script src="../../../libs/polymer/platform/platform.js"></script>
		<link rel="import" href="../../Controllers/controllers.html"/>
		<link rel="import" href="../../Styles/styles.html"/>
	</head>
	<body>
		<div id="layout">
		    <!-- Menu toggle -->
		    <a href="#menu" id="menuLink" class="menu-link">
		        <!-- Hamburger icon -->
		        <span></span>
		    </a>
		
		    <div id="menu">
		        <div class="pure-menu">
		            <a class="pure-menu-heading" href="#">{Company}</a>
		
		            <ul class="pure-menu-list">
		                <li class="pure-menu-item"><a href="#" class="pure-menu-link">{Home}</a></li>
		                <li class="pure-menu-item"><a href="#" class="pure-menu-link">{About}</a></li>
		                <li class="pure-menu-item"><a href="#" class="pure-menu-link">{Services}</a></li>
		                <li class="pure-menu-item"><a href="#" class="pure-menu-link">{Contact}</a></li>
		                <li class="pure-menu-item"><a href="/bsf/Forward?resource=login.html" id="menu-link-login" class="pure-menu-link">{Login}</a></li>
		            </ul>
		        </div>
				<script id="login-pure-script">
				
					var controllers = document.querySelector('link[rel="import"][href="../../Controllers/controllers.html"]');	
				
					var setMenuTranslation = function() {

						var translation = {

							"#menu-link-login" : "Login",
						};

						i18n.setTranslation("../../Translations/Templates/company.json", translation);
					}
					
					controllers.addEventListener('load', function(e) { setMenuTranslation(); });	
				</script>
			</div>
		
		    <div id="main">
		        <div class="header">
		            <h1>404.Not Found</h1>
		            <h2>Sorry page you are looking doesn't exists.</h2>
		        </div>
		
		        <div class="content">
	  
		        </div>
		    </div>
		</div>
	</body>
</html>