* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.6em;
}

.header {
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }

.header h1 {
     margin: 0.2em 0;
     font-size: 3em;
     font-weight: lighter;
}

.header h2 {
  font-weight: lighter;
  color: #ccc;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: lighter;
  color: #888;
}

#menu {
    margin-left: -160px; /* "#menu" width */
    width: 160px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: black;
    font-size: 100%;
    font-weight: lighter;
}

#menu a {

  color: #999;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  line-height: 2em;
}
 
#menu .pure-menu,
#menu .pure-menu ul,
#menu .pure-menu ul li {

  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

#menu {
   left: 160px;
}

#menu ul li:hover {
  
  position: relative;
}

#menu ul ul {
  
  visibility: hidden;
  position: absolute;
}

#menu ul li.pure-menu-has-children:hover > ul {
  
  visibility: visible;
  top: 0px;
  left: 100%;
  width: 100%;
  background-color: black;
}

#menu .pure-menu .pure-menu-heading {
  
  list-style: none;
  background: #1f8dd6;
  font-size: 1.2em; 
}

#menu .pure-menu .pure-menu-heading a {
  
  color: white; 
  text-transform: uppercase;
}

#menu .pure-menu .pure-menu-heading a:hover {
 
  background: #1f8dd6;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {

  background: #333;
  color: white;
}

#menu .pure-menu-has-children > a:after {
  
  content: url("/bsf/app/images/menu/arrow-right_16.ico");
  position: absolute;
  margin: 1% 0px;
  width: 100%;
}